{% extends "layout.html.j2" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to FSNebula</h1>

    <p>
        This website mostly serves as storage to support the <a href="/knossos/">Knossos</a> client.
    </p>

    <p>
        Please take a look at the linked page or go to <a href="https://hard-light.net">Hard Light Productions</a> to learn more
        about Knossos, FSO or Freespace2.
    </p>
{% endblock %}
