{% extends "layout.html.j2" %}

{% block title %}Knossos{% endblock %}

{% block body %}
    <h1>Knossos.NET</h1>

    <a href="https://github.com/KnossosNET/Knossos.NET">GitHub</a> | <a href="https://www.hard-light.net/forums/index.php?topic=99159.0">HLP Thread</a>

    <p style="margin-top:2rem;">
        Knossos.NET is an easy way to install FreeSpace Open, an open-source game engine for one of the world's finest space shooters. You can also use it to install the latest upgrades, enhancements, and mods from Hard Light Productions and to keep your installation up-to-date.
    </p>

    <h2>Download</h2>
    <p>
        Builds are available for Windows, Linux, and macOS on the <a href="https://knossosnet.github.io/Knossos-Release-Page/">Knossos.NET Release Page</a>.
    </p>

    <h2>Getting Started</h2>
    <p>
        Simply run Knossos.NET and select the mods you would like to download. Most mods require a copy of FreeSpace 2, but a few mods (called Total Conversions) can run without it.
        For additional help getting started with Knossos.NET please refer to <a href="https://pxo.nottheeye.com/support/how-to/knossos">Getting Started with Knossos</a> guide on the PXO website.
    </p>
{% endblock %}
