{% extends "layout.html.j2" %}

{% block title %}Install {{ mod.title }}{% endblock %}

{% block body %}
    <h1>{{ mod.title }} {{ mod.version }}</h1>
    <p>
        Last updated: {{ mod.last_update.strftime('%Y-%m-%d %H:%M') }}
    </p>

    {% if mod.banner %}
        <img src="{{ mod.banner }}">
    {% endif %}
    <h2>Do you already have Knossos?</h1>

    <div class="row">
        <div class="col-md-6">
            <a href="fso://open/{{ mod.id }}"><img src="{{ url_for('static', filename='kn_download.png') }}"></a>
        </div>
        <div class="col-md-6">
            <a href="/knossos/" class="btn btn-primary">No, tell me how to install it</a>
        </div>
    </div>

    <br>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" id="expert_heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#expert_content" aria-controls="expert_content">
                        No, but I know exactly what I'm doing and I just want download links
                    </a>
                </h4>
            </div>
            <div id="expert_content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="expert_heading">
                <div class="panel-body">
                    {% if not mod.has_mod_ini %}
                        <div class="alert alert-warning" role="alert">
                            This mod doesn't include a mod.ini file which means you'll have to write one yourself!
                        </div>
                    {% endif %}

                    {% for pkg in mod.packages %}
                        <h4>{{ pkg.name }}</h4>

                        {% if pkg.notes %}
                            <p>{{ pkg.notes }}</p>
                        {% endif %}

                        <ul>
                            {% for archive in pkg.files %}
                                {% if mod.dl_links[archive.checksum] %}
                                    <li>
                                        {{ archive.filename }}:
                                        {% for link, name in mod.dl_links[archive.checksum] %}
                                            <a href="{{ link }}">{{ name }}</a>
                                            {{ "|" if not loop.last }}
                                        {% endfor %}

                                        <br> SHA256: {{ archive.checksum }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
