<!doctype html>
<html>
	<head>
		<title>Reset password</title>
		<meta charset="utf8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1>Reset Password</h1>

			{% if success %}
				<div class="alert alert-success">Your password has been successfully reset!</div>
			{% else %}
				{% if msg %}
					<div class="alert alert-danger">{{ msg }}</div>
				{% endif %}

				<form action="?" method="post" class="form">
					<div class="form-group">
						<label class="control-label" for="new_password">New Password:</label>
						<input type="password" name="new_password" class="form-control">
					</div>

					<div class="form-group">
						<label class="control-label" for="confirm">Confirm Password:</label>
						<input type="password" name="confirm" class="form-control">
					</div>

					<button class="btn btn-primary">Save</button>
				</form>
			{% endif %}
		</div>
	</body>
</html>